body {
  margin:0;
  padding:0;
  font-family: Pretendard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100%
}

#root {
  min-height: 100%;
}

html {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: inherit;
}

header{
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:70px;
  margin: 0 auto;
}

footer{
  max-width: 1800px;
  height:70px;
  margin: 0 auto;
}

header .nav{
  display: flex;
  flex-direction: row;
}

.container .content{
  background: aquamarine;
  height: 90vh;
}

.container.about{
 height: 100vh;
}

.container.interview{
  height: 100vh;
 }